<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_KEY" value="fakeApiKey" force="true"/>
        <env name="SECRET_KEY" value="fakeSecretKey" force="true"/>
        <env name="HOST" value="fakeHost" force="true"/>
        <env name="PROJECT_ID" value="fakeProjectId" force="true"/>
    </php>
</phpunit>
